.App{
  display: flex;
  /* text-align: center; */
  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
}
.inputFields{
  display: flex;
  flex-wrap: wrap;
  flex: 2 ;
  justify-content: flex-start;
  margin-bottom: 4rem;
}
#output{
  flex-basis: 100%;
}
.apiFields{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex: 2 ;
  justify-content: center;
}
#apiData{
  flex-basis: 100%;
  text-align: center;
}
.inputFields > input && button {
  /* height: 3rem; */
}

